.news{
  display: flex;
  justify-content: center;
  display: flex;
  padding-top: 4rem;
  text-align: center;
}

a{
  color: rgb(10, 10, 10);
  text-decoration: none;
}

.wa2{
  border: 2px solid #37B984;
  width: 70px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-right: 3px;
}

.fl_left{
  width: 70%;
}

.content-news-more{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-news{
  padding-left: 10px;
}

.see-more{

  text-align: right;
}

.see-more-a{
  color: #33a578;
  cursor: pointer;
}

.see-more-a:hover{
  color: rgb(222, 0, 0);
}

.date{
  color: #37B984;
  font-size: 36px;
  line-height: 35px;
}

.month{
  color: #37B984;
}

.year{
  color: #37B984;
}

.title-1{
  margin-left: 20px;
  text-align: left;
}

.news-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-news-top{
  display: flex;
  width: 90%;
  border-bottom: 1px solid rgb(149, 149, 149);
  margin-bottom: 2rem;
}

.scroll-to-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: fixed;
  color: #fff;
  background:#247a58;
  width: 45px;
  height: 45px;
  bottom: 30px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
 }

 .scroll-to-top:hover {
  background:#0c2b1f;
 }
