<div id="features" class="tabs">
  <div class="news">
    <div class="row">
      <div class="col-md-6">
          <div class="fl_left" style="padding-bottom: 50px; display: flex;">
              <div class="wa2" style="border: 2px solid #37B984;width: 70px;min-height: 70px; display: flex; justify-content: center; align-items: center; padding-right: 3px;">
                  <a class="date" style=" color: #37B984; font-size: 36px; line-height: 35px;">14</a>
                  <a class="month" style=" color: #37B984;">Th2</a>
              </div>
              <a [routerLink]="['/**']" style=" margin-left: 10px;padding-top: 11px;">MÙA RỘN RÀNG TRUNG THU</a>
          </div>
      </div>
      <div class="col-md-6" style="padding-left: 4rem;">
          <div class="fl_left" style="padding-bottom: 50px; display: flex">
              <div class="wa2" style="border: 2px solid #37B984;width: 70px;min-height: 70px; display: flex; justify-content: center; align-items: center; padding-right: 3px;">
                    <a class="date" style=" color: #37B984; font-size: 36px; line-height: 35px;">14</a>
                    <a class="month" style=" color: #37B984;">Th9</a>
              </div>
              <a [routerLink]="['/**']" style=" margin-left: 10px;padding-top: 11px;">ĐÀ NẴNG, CÁC BẠN LẠI VẤT VẢ RỒI!</a>
          </div>
      </div>
    </div>
  </div>
</div>

