.news{
  display: flex;
  justify-content: center;
  display: flex;
  padding-top: 4rem;
  text-align: center;
}

a{
  color: #000;
  text-decoration: none;
}

.wa2{
  border: 2px solid #37B984;
  width: 70px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px;
  flex-direction: column;
}

.date{
  color: #37B984;
  font-size: 36px;
  line-height: 35px;
}

.month{
  color: #37B984;
}

.title-1{
  margin-left: 10px;
  padding-top: 11px;
}
