<div id="features" class="tabs">
  <div class="news">
    <div class="row">
      <div class="col-md-6 news-title">
          <div class="fl_left" style="padding-bottom: 50px;">
              <div class="wa2">
                <a class="date">16</a>
                <a class="month">Th11</a>
                <a class="year">2022</a>
              </div>
              <a [routerLink]="['/tintuc1']" class="title-1">Ngôi trường tư thục miễn học phí, nuôi dưỡng hàng trăm học sinh</a>
          </div>
          <div class="fl_left" style="padding-bottom: 50px;">
            <div class="wa2">
              <a class="date">14</a>
              <a class="month">Th2</a>
              <a class="year">2022</a>
            </div>
            <a [routerLink]="['/tintuc3']" class="title-1">MÙA RỘN RÀNG TRUNG THU 3</a>
        </div>
        <div class="fl_left" style="padding-bottom: 50px;">
          <div class="wa2">
              <a class="date">14</a>
              <a class="month">Th2</a>
              <a class="year">2022</a>
          </div>
          <a [routerLink]="['/**']" class="title-1">MÙA RỘN RÀNG TRUNG THU 5</a>
        </div>
      </div>

      <div class="col-md-6 news-title">
          <div class="fl_left" style="padding-bottom: 50px;">
              <div class="wa2">
                    <a class="date">03</a>
                    <a class="month">Th12</a>
                    <a class="year">2022</a>
              </div>
              <a [routerLink]="['/tintuc2']" class="title-1">HÀNH TRÌNH TRAO YÊU THƯƠNG NƠI MIỀN BIÊN GIỚI… CÔ TRÒ LỚP 4A0 LÊN ĐƯỜNG!</a>
          </div>
          <div class="fl_left" style="padding-bottom: 50px;">
            <div class="wa2">
                  <a class="date">14</a>
                  <a class="month">Th9</a>
                  <a class="year">2022</a>
            </div>
            <a [routerLink]="['/**']" class="title-1">ĐÀ NẴNG, CÁC BẠN LẠI VẤT VẢ RỒI 4</a>
        </div>
        <div class="fl_left" style="padding-bottom: 50px;">
          <div class="wa2">
                <a class="date">14</a>
                <a class="month">Th9</a>
                <a class="year">2022</a>
          </div>
          <a [routerLink]="['/**']" class="title-1">ĐÀ NẴNG, CÁC BẠN LẠI VẤT VẢ RỒI 6</a>
      </div>
      </div>
    </div>
  </div>
</div>
