<div *ngIf="project" id="details" class="py-4" style="background-color: #f3f7fd;">
    <div class="container bg-white rounded py-3">
        <div class="row">
            <div class="col-lg-6">
                <router-outlet (activate)="loadComponent($event)"></router-outlet>
            </div>
            <div class="col-lg-6">
                <div>
                  <h4 class="text-left text-uppercase">{{ title }}</h4>
                  <hr/>
                  <div class="donate-g" *ngFor="let d of donateTop$ | async; let i = index">
                    <div class="wa2">
                      <a class="date">{{ i + 1 }}</a>
                    </div>
                    <div class="donate-g-2">
                      <p>{{ d.publicName }}</p>
                      <p>Số tiền : {{ d.total | currency:'VND' }}</p>
                      <p>Số lần donate : {{ d.count }}</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
