
<div id="details" class="basic-1">
  <div class="container">
      <div class="row">
          <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="text-right">** Những gương mặt vàng trong làng TÀI TRỢ **</h3>
          </div>
          <table class="table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Tên công ty /Cá nhân</th>
                      <th>Logo</th>
                      <th>Số tiền</th>
                      <th>Số lần donate</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Công ty TNHH ABC</td>
                      <td style="text-align: center;">
                        <img src="https://phamkhoi.com/Editor/blog/nhat%20ky/logo%20hoa/nghe-thua-thiet-ke-logo-theo-dang-canh-hoa%205.jpg" alt=""  class="img-table">
                      </td>
                      <td>200.000.000 VND</td>
                      <td>3</td>
                  </tr>
                  <tr>
                      <td>Nguyễn Khanh Linh</td>
                      <td>Hình ảnh</td>
                      <td>70.000.000 VND</td>
                      <td>3</td>
                  </tr>
                  <tr>
                      <td>Nhóm từ thiện BDC</td>
                      <td>Hình ảnh</td>
                      <td>30.000.000 VND</td>
                      <td>1</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
