.donate-g{
  display: flex;
  margin-top: 10px;
}

.wa2{
  background-color: #c06a6a;
  width: 40px;
  /* min-height: 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;

}

.date{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  line-height: 35px;
}

.donate-g-2{
  display: flex;
  flex-direction: column;
  padding-left:25px;
}

.donates{
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

p{
  margin-bottom: 0;
  padding-top: 0;
}
