.donate-g{
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
}

.wa2{
  background-color: #94b6d9;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
  border-radius: 50%;

}

.date{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 35px;
}

.donate-g-2{
  display: flex;
  flex-direction: column;
  padding-left:25px;
}

.donates{
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

p{
  margin-bottom: 0;
  padding-top: 0;
}

.dot{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item{
  width: 46%;
  align-items: center;
}

.scroll-to-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: fixed;
  color: #fff;
  background:#247a58;
  width: 45px;
  height: 45px;
  bottom: 30px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
 }

 .scroll-to-top:hover {
  background:#0c2b1f;
 }
