<header id="header" class="ex-2-header wrapper">
  <div class="container bg-bubbles">
    <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <div class="row">
          <div class="col-lg-12" style="margin-top: 3rem;">
              <h1>ĐĂNG NHẬP</h1>
              <div class="form-container">
                  <form (submit)="ngSubmitForm()" [formGroup]="formGroup" class="form pt-0" id="form-2" style="padding-bottom: 2rem;">

                      <div class="form-group text-left">
                          <label class="form-label required">Tên đăng nhập</label>
                          <input placeholder="Tên đăng nhập" class="form-control" formControlName="username">
                          <span class="form-message"></span>
                      </div>

                      <div class="form-group text-left">
                        <label class="form-label required">Mật khẩu</label>
                        <div class="position-relative">
                          <input type="password" placeholder="Nhập mật khẩu" class="form-control show-mk" formControlName="password">
                          <span class="form-message"></span>
                        </div>
                      </div>

                      <div class="form-group" style="padding-top: 15px">
                          <button class="form-control-submit-button">Đăng nhập</button>
                      </div>
                      <div style="margin-top: 10px">
                        <span class="text-primary cursor-pointer" (click)="ngOnOpenForgetPassword(forgetPassword)">Quên mật khẩu?</span>
                      </div>
                  </form>
                  <p style="color: #b0b0b0; padding-top: 0; margin-bottom: 1.5rem;">Bạn chưa có tài khoản? Hãy<a class="btn-login" [routerLink]="['/auth', 'sign-up']"> Đăng ký</a></p>
                  <div>
                    <a class="btn-login" [routerLink]="['/home']">Về trang chủ</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</header>

<ng-template #forgetPassword>
    <div>
        <div class="modal-header">
            Quên mật khẩu
        </div>
        <form class="d-flex flex-column" (submit)="ngOnSubmitForgetPassword()">
            <div class="modal-body">
                <label>Tên đăng nhập</label>
                <input class="form-control" placeholder="Nhập tên đăng nhập" [(ngModel)]="usernameToForgetPassword" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="modal-footer justify-content-center gap-2">
                <button class="btn btn-primary">Lấy mật khẩu</button>
                <button type="button" class="btn btn-secondary" (click)="modalRef.close()">Hủy</button>
            </div>
        </form>
    </div>
</ng-template>
