
a,
p,
.btn-login{
  text-decoration: none;
  color: #37B984;
}

/* linktwo */
.btn-login:hover {
  color: #127950;
  border-bottom: solid 1px #127950;
}

.form-container{
  background-color: #f0f6fff5;
  margin-bottom: 5rem;
}

.ex-2-header{
  padding-top: 5rem;
  background-color: #37B984;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 2px solid #fff;
	border-radius: 1.5rem;
	background-color: #37B984;
	color: #fff;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	color: #37B984;
  border: 2px solid #fff;
	background-color: #fff;
}
