<div *ngIf="project" class="tabs py-4" >
    <div class="container bg-white rounded py-3" *ngIf="'container'" [@fadeInOnEnter] [@fadeOutOnLeave]>
        <div class="title" >
            <h2>{{ project.title }}</h2>
            <div class="date-project">
              <small>{{ project.startDate | date:'dd-MM-yyyy'}}</small>
              <small  *ngIf="project.type == 0">&nbsp;-&nbsp;{{ project.endDate | date:'dd-MM-yyyy' }}</small>
            </div>
        </div>
        <div class="row py-3" style="display: flex; flex-direction: row;">
            <h5 style="width: 80%">{{ project.description }}</h5>
            <div class="contents" [innerHTML]="project.content | safe:'html'"></div>
        </div>

        <div class="d-flex flex-column gap-2">
            <span class="text-success fw-bold">Đã góp được:&nbsp;&nbsp;<span class="text-danger">{{ (project.total || 0) | currency:'VND' }} </span> </span>
            <span class="text-primary fw-bold">Cần huy động: <span class="text-danger">{{ (project.money || 0) | currency:'VND' }}</span> </span>
        </div>
        <div style="margin: 30px 0">
          <em>(*) Lưu ý: Tiền chuyển thẳng trực tiếp vào tài khoản chủ dự án mà không thông qua trang web thì chúng tôi sẽ không chịu trách nhiệm về vấn đề sao kê tiền của bạn khi xảy ra vấn đề</em>
        </div>

        <div *ngIf="project.status === 2 || project.status === 3" class="btn-donate-project">
            <a class="btn-donation" [routerLink]="['/donate', 'business']" [queryParams]="{'project-id': project.id }" >
                <i class="fas fa-city"></i> Doanh nghiệp tài trợ
            </a>
            <a class="btn-donation" [routerLink]="['/donate', 'personal']" [queryParams]="{'project-id': project.id}" style="text-align:center;">
                <i class="fas fa-address-book"></i> Cá nhân tài trợ
            </a>
        </div>

        <div *ngIf="project.status === 0 && isAdmin" class="btn-donate-project">
          <button class="custom-btn btn-browse-port" (click)="approveProject()">
            <i class="fas fa-check"></i> Duyệt bài viết
          </button>
          <button class="custom-btn btn-cancle-port" (click)="cancelProject()">
            <i class="fas fa-trash"></i> Hủy bài viết
          </button>
        </div>
    </div>
</div>
