:host ::ng-deep .contents img {
  width: 100%;
}

.title {
  border-bottom: 1px solid #37B984;
}

.btn-outline-reg{
  cursor: pointer;
  margin-top: 10px;
  border-radius: 40px;
}

.ex-basic-2{
  background: #f3f7fd;
}

.contents{
  /* margin-bottom: 30px; */
  max-width: 80%;
}

img{
  width: 500px;
  height: 300px;
}
