<div class="action position-relative">
    <i class="fas fa-ellipsis-v"></i>
    <div class="menu p-3 d-none position-absolute">
        <div class="d-flex flex-column bg-white w-100">
            <ng-container *ngIf="params.data.status == 0">
                <span class="text-center" (click)="approveProject()">Duyệt</span>
                <span class="text-center" (click)="cancelProject()">Hủy</span>
            </ng-container>
            <ng-container *ngIf="params.data.status != 0">
              <span class="text-center" (click)="updateProject()">Sửa</span>
              <span class="text-center" (click)="lockProject()">Khóa</span>
            </ng-container>
        </div>
    </div>
</div>
