a{
  color: #000;
  text-decoration: none
}

ul{
  list-style: none;
}

.ex-basic-2{
  background-color: #f3f7fd;
}

.btn-solid-reg{
  color: #fff;
}

.project-focus,
.project:hover {
  background-color: RGBA(13, 110, 253, var(--bs-bg-opacity, 1)) !important;
  padding-left: 10px;
}

.project-focus > span,
.project:hover > span {
  color: #fff !important;
}

/* 7 */


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-export {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgb(251, 193, 2) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-export span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-export:before,
  .btn-export:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(251, 193, 2);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-export:before{
     height: 0%;
     width: 2px;
  }
  .btn-export:after {
    width: 0%;
    height: 2px;
  }
  .btn-export:hover{
    color: rgb(251, 193, 2);
    background: transparent;
  }
  .btn-export:hover:before {
    height: 100%;
  }
  .btn-export:hover:after {
    width: 100%;
  }
  .btn-export span:before,
  .btn-export span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(251, 193, 2);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-export span:before {
    width: 2px;
    height: 0%;
  }
  .btn-export span:after {
    height: 2px;
    width: 0%;
  }
  .btn-export span:hover:before {
    height: 100%;
  }
  .btn-export span:hover:after {
    width: 100%;
  }

  .scroll-to-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: fixed;
    color: #fff;
    background:#247a58;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
   }

   .scroll-to-top:hover {
    background:#0c2b1f;
   }
