<div class="ex-basic-2">
  <div class="container" style="border-bottom: 1px solid #37B984;">
      <h2>BÁO CÁO TÀI CHÍNH</h2>
  </div>
</div>

<div class="ex-basic-2">
  <div class="container" style="padding-bottom: 0.3rem;">
      <div class="row">
          <div class="col-lg-6">
              <div class="text-container">
                  <h4 style="color: #37B984">Báo cáo tài chính hàng ngày</h4>
                  <ul>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính ngày 10/10/2022</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính ngày 10/10/2022</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính ngày 10/10/2022</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính ngày 10/10/2022</a>
                      </li>
                  </ul>
                  <h4 style="color: #37B984">Báo cáo tài chính hàng tháng</h4>
                  <ul>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính tháng 10/2022</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính tháng 11/2022</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính tháng 12/2022</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính tháng 10/2022</a>
                      </li>
                  </ul>
                  <h4 style="color: #37B984">Báo cáo tài chính hàng năm</h4>
                  <ul>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính năm 2020</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính năm 2021</a>
                      </li>
                      <li>
                          <a [routerLink]="['/**']" style="text-decoration: none">Báo cáo tài chính năm 2022</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">DỰ ÁN QUAN TRỌNG</h4>
              </div>
              <div class="row mt-3">
                  <div id="features" class="tabs2 container row">
                      <div class="col-lg-6 tin-tuc">
                          <div class="image-container ">
                              <img class="img-fluid" src="assets//images/duan1/main.png" alt="alternative">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="">
                              <h5>Xây dựng điểm trường tại bản làng dân tộc Hà Giang</h5>
                              <p>Nhằm đưa giáo dục đến gần hơn với trẻ em vùng cao nói chung và học sinh tỉnh Hà Giang nói riêng,...</p>
                          </div>
                      </div>
                  </div>
                  <div id="features" class="tabs2 container row">
                      <div class="col-lg-6">
                          <div class="image-container">
                              <img class="img-fluid" src="assets//images/duan2/main.png" alt="alternative">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="">
                              <h5>Bữa sáng cho trẻ em tới tường</h5>
                              <p>Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày....</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-button text-center">
                  <a class="btn-solid-reg" [routerLink]="['/news']">XEM THÊM</a>
              </div>
          </div>
      </div>
  </div>
</div>
