a{
  color: #000;
  text-decoration: none
}

ul{
  list-style: none;
}

.ex-basic-2{
  background-color: #f3f7fd;
}

.btn-solid-reg{
  color: #fff;
}

.project-focus,
.project:hover {
  background-color: RGBA(13, 110, 253, var(--bs-bg-opacity, 1)) !important;
  padding-left: 10px;
}

.project-focus > span,
.project:hover > span {
  color: #fff !important;
}
