<div class="ex-basic-2" >
  <div class="container" style="border-bottom: 1px solid #37B984;">
      <h2>Xây dựng điểm trường tại bản làng dân tộc Hà Giang</h2>
  </div>
</div>

<div id="features" class="tabs">
  <div class="container">
      <div class="container rounded mb-5">
          <div class="row">
              <div class="col-md-12">
                  <h4>
                      Nhằm đưa giáo dục đến gần hơn với trẻ em vùng cao nói chung và học sinh tỉnh Hà Giang nói riêng, chúng tôi đã lên kế hoạch cho dự án " Xây dựng điểm trường tại bản làng dân tộc thiểu số thuộc tỉnh Hà Giang" với chương trình như sau :
                  </h4>
                  <p>
                      1. Xây dựng trường học cho 350 em học sinh cấp tiểu học với 10 phòng học thuộc bản Tà Xùa - tỉnh Hà Giang.
                  </p>
                  <p>
                      2. Đây là một trong những điểm trường dành cho các em thuộc nhóm dân tộc thiểu số có hoàn cảnh khó khăn, vì vậy các trang thiết bị cơ bản như : bàn ghế, bảng, đồng phục, sách vở,...sẽ được trang bị đầy đủ cho em học sinh.Từ đó, giúp việc đến trường của các em giảm bớt gánh nặng, những học sinh của trường không chỉ được miễn học phí mà còn được cung cấp những bữa ăn trưa vào các ngày thứ 2, thứ 4, thứ 6.
                  </p>
                  <p>
                      Với tôn chỉ " giáo dục là chìa khoá xoá bỏ nghèo nàn, lạc hậu". Quỹ từ thiện rất hi vọng được kết nối các mạnh thường quân đến với trẻ em vùng cao thông qua dự án "Xây dựng điểm trường tại bản làng dân tộc thiểu số thuộc tỉnh Hà Giang", mang đến cho những trẻ em kém may mắn có một tương lai tươi sáng hơn.
                  </p>
                  <p>
                      Chủ nhiệm dự án: Bà Nguyễn Thị B
                  </p>
                  <p>
                      Liên hệ: 0672643532 – 0374813645
                  </p>
                  <p>
                      Số tài khoản: 5718467365155 Vietcombank
                  </p>
                  <div style="display: flex; width: 500px; height: 225px;">
                      <img src="assets/images/duan1/anh1.jpg" alt="">
                      <img src="assets/images/duan1/anh2.jpg" alt="">
                      <img src="assets/images/duan1/anh3.jpg" alt="">
                  </div>
              </div>
          </div>
          <div class="text-container">
              <h5><a class="btn-outline-reg" [routerLink]="['/donate-businesses']" ><i class="fas fa-city"></i> Doanh nghiệp tài trợ</a></h5>
              <h5><a class="btn-outline-reg" [routerLink]="['/donate-personal']" style="padding: 1rem 2.75rem 1rem 1.85rem; "><i class="fas fa-address-book"></i> Cá nhân tài trợ</a></h5>
          </div>
      </div>
  </div>
</div>
