.cls-1 {
  fill: #37B984;
}

.header-frame{
  background-color: #f3f7fd;
  height: 7.375rem;
}

.w3-light-grey{
  background-color: #fff;
  padding:128px 16px;
  text-align: center;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
}
