<div class="tabs">
    <header id="header" class="header">
        <div class="container">
            <div class="header-content">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>CHÀO MỪNG</h1>
                            <p class="p-large">"Chúng tôi cùng với bạn, trên hành trình kiếm tìm hạnh phúc, bằng cách lan tỏa lòng nhân ái, chuyển hóa khổ đau."</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="assets/images/trangchu.jpg" style="border-radius: 100%" alt="alternative">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310">
        <path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
    </svg>
    <div class="container my-3">
        <!-- Features các dự án -->
        <div class="row align-items-center" style="height: 100px;">
            <h2 class="h2-heading">CÁC DỰ ÁN CHÍNH</h2>
        </div>

        <div class="project-container d-flex flex-column gap-3">
            <app-project-card
                *ngFor="let p of project$ | async"
                [project]="p"
                [showMore]="true"
                class="w-100 h-100"
            ></app-project-card>
        </div>
    </div>
    <div class="w3-container summary text-center p-5">
        <h3 class="w3-center sum-case">ĐẾN HÔM NAY CHÚNG TÔI ĐÃ LÀM ĐƯỢC:</h3>
      
        <div class="w3-row-padding w3-center about-us">
            <div class="w3-quarter about-us-case">
                <div class="sum-case">
                    <p class="number" style="color: orange"><i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center me-2" style="color: orange"></i>{{ totalDonateAndProject?.countProject || 0 }}</p>
                    <p class="sum-case">TRƯỜNG HỢP</p>
                </div>
            </div>
    
            <div class="w3-quarter about-us-case">
                <div class="sum-case">
                    <p class="number" style="color: rgb(226, 63, 63)"><i class="fa fa-heart w3-margin-bottom w3-jumbo me-2" style="color: rgb(226, 63, 63)"></i>{{ (totalDonateAndProject?.totalDonate || 0) | currency:'VND' }}</p>
                    <p class="sum-case">ĐỒNG</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center mt-3">
        <h2>Tìm kiếm bằng Map</h2>
        <app-map class="w-100 bg-white d-flex justify-content-center"></app-map>
    </div>
</div>
