<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                      <h1>CHÀO MỪNG</h1>
                      <p class="p-large">"Chúng tôi cùng với bạn, trên hành trình kiếm tìm hạnh phúc, bằng cách lan tỏa lòng nhân ái, chuyển hóa khổ đau."</p>
                  </div>
              </div>
              <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                      <div class="img-wrapper">
                          <img class="img-fluid" src="assets/images/trangchu.jpg" style="border-radius: 100%" alt="alternative">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310">
  <path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
</svg>

<!-- Features các dự án -->
<div id="features" class="tabs">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="above-heading"></div>
              <h2 class="h2-heading" style="margin-bottom: 50px;">CÁC DỰ ÁN</h2>
          </div>
      </div>
      <div class="row ">
          <div class="col-lg-12">
              <div class="tab-content" id="argoTabsContent">
                  <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                      <div class="row list-posts">
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <div class="col-lg-6">
                              <div class="image-container">
                                  <h5 [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']" class="hoat-dong khong-thoi-han">KHÔNG THỜI HẠN</h5>
                                  <a [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']"><img class="img-fluid" src="assets/images/duan1/main.png" alt="alternative">
                                  </a>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="text-container">
                                  <a [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']" style="text-decoration: none"><h3>Xây dựng điểm trường tại bản làng dân tộc Hà Giang</h3></a>
                                  <p style="text-align: justify;">Nhằm đưa giáo dục đến gần hơn với trẻ em vùng cao nói chung và học sinh tỉnh Hà Giang nói riêng, chúng tôi đã lên kế hoạch cho dự án " Xây dựng điểm trường tại bản làng dân tộc thiểu số thuộc tỉnh Hà Giang" </p>
                                  <a class="btn-tt" [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']">TÀI TRỢ</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="features" class="tabs">
  <div class="container">
      <div class="row"    >
          <div class="col-lg-12">
              <div class="tab-content" id="argoTabsContent">
                  <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                      <div class="row list-posts">
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <div class="col-lg-6">
                            <div class="text-container">
                                <h3>Xây lớp học tình thương </h3>
                                <p style="text-align: justify;">Cuộc sống như một bức tranh đầy màu sắc, bên cạnh những mảng màu sáng luôn có sự xuất hiện của những gam màu u tối.Và bên cạnh những đứa trẻ may mắn được sinh ra, lớn lên trong vòng tay bố mẹ thì cũng có không ít trẻ em phải sống trong trại trẻ mồ côi. Chúng không chỉ thiếu thốn về vật chất, tinh thần mà ngay cả giáo dục cũng khó có thể tiếp cận.</p>
                                <a class="btn-ct" [routerLink]="['/du-an-xay-lop-hoc-tinh-thuong']">CHI TIẾT</a>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="image-container">
                                <h5 [routerLink]="['/du-an-xay-lop-hoc-tinh-thuong']" class="hoat-dong da-hoan-thanh">ĐÃ HOÀN THÀNH</h5>
                                <a [routerLink]="['/du-an-xay-lop-hoc-tinh-thuong']"><img class="img-fluid" src="assets/images/duan3/main.jpg" alt="alternative">
                                </a>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="features" class="tabs">
  <div class="container">
      <div class="row"    >
          <div class="col-lg-12">
              <div class="tab-content" id="argoTabsContent">
                  <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                      <div class="row list-posts">
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <span class="hv"></span>
                          <div class="col-lg-6">
                              <div class="image-container">
                                  <h5 [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" class="hoat-dong dang-van-dong">ĐANG VẬN ĐỘNG</h5>
                                  <a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']"><img class="img-fluid" src="assets/images/duan2/main.png" alt="alternative">
                                  </a>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="text-container">
                                  <h3>Bữa sáng cho trẻ em tới tường </h3>
                                  <p style="text-align: justify;">Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày. Thế nhưng nhiều học sinh tại các điểm trường khó khăn của tỉnh Hà Giang vẫn phải mang một chiếc bụng đói để tới trường. Khi quần áo của các em chưa đủ mặc, sách vở chưa đủ viết thì làm sao dám nghĩ tới một bữa sáng đầy đủ chất dinh dưỡng.</p>
                                  <a class="btn-tt" [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']">TÀI TRỢ</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Tổng hợp -->
<div class="w3-container summary" id="" style="text-align: center;">
  <h3 class="w3-center sum-case">ĐẾN HÔM NAY CHÚNG TÔI ĐÃ LÀM ĐƯỢC:</h3>

      <div class="w3-row-padding w3-center about-us" style="margin-top:64px">
          <div class="w3-quarter about-us-case">
              <div class="sum-case">
                  <p class="number" style="color: orange"><i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center" style="color: orange"></i>506</p>
                  <p class="sum-case">TRƯỜNG HỢP</p>
              </div>
          </div>

          <div class="w3-quarter about-us-case">
              <div class="sum-case">
                  <p class="number" style="color: rgb(226, 63, 63)"><i class="fa fa-heart w3-margin-bottom w3-jumbo" style="color: rgb(226, 63, 63)"></i>106.690.678.557</p>
                  <p class="sum-case">ĐỒNG</p>
              </div>
          </div>

          <div class="w3-quarter about-us-case">
              <div class="sum-case">
                  <p class="number" style="color: rgb(74, 39, 199)"><i class="fas fa-bread-slice w3-margin-bottom w3-jumbo" style="color: rgb(74, 39, 199)"></i>4.149.685</p>
                  <p class="sum-case">SUẤT CƠM</p>
              </div>
          </div>

          <div class="w3-quarter about-us-case">
              <div class="sum-case">
                  <p class="number" style="color: yellow"><i class="	fas fa-water w3-margin-bottom w3-jumbo" style="color: yellow"></i>604.357</p>
                  <p class="sum-case">SUẤT NƯỚC</p>
              </div>
          </div>
      </div>

</div>

<!-- GG Map -->
<div class="w3-container w3-light-grey">
      <h2>Tìm kiếm bằng Map</h2>
      <iframe width="80%" height="800" frameborder="0" allowfullscreen="" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15739728.195975516!2d96.86849995868954!3d15.607291555090418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2zVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1664697946873!5m2!1svi!2s"></iframe>
</div>


