<div>
    <div class="modal-header">
        <h3>Đổi Mật Khẩu</h3>
    </div>
    <form [formGroup]="formGroup" (submit)="ngSubmitForm();">
        <div class="modal-body">
            <div>
                <label class="labels required">Mật khẩu hiện tại</label>
                <input type="password" class="form-control" placeholder="Nhập mật khẩu hiện tại" formControlName="currentPassword" />
            </div>
            <div>
                <label class="labels required">Mật khẩu mới</label>
                <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" formControlName="newPassword" />
            </div>
            <div>
                <label class="labels required">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" formControlName="confirmationPassword" />
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button class="btn btn-primary">Xác nhận</button>
            <button type="button" class="btn btn-secondary" (click)="ngOnCancel()">Hủy bỏ</button>
        </div>
    </form>
</div>