
<div class="image-container">
  <iframe width="80%" height="600px" frameborder="0" allowfullscreen="" style="border: 0.2rem solid #d8d0d081;border-radius: 2rem;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15739728.195975516!2d96.86849995868954!3d15.607291555090418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2zVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1664697946873!5m2!1svi!2s"></iframe>
</div>

<div class="ex-basic-2">
  <div class="container text-center" style="border-bottom: 1px solid #37B984;">
    <h2>CÁC DỰ ÁN</h2>
  </div>
</div>

<div class="project-1">
  <div class="row">
    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%; ">
        <figure class="aa-blog-img">
          <img src="assets/images/duan1/main.png" [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']" alt="img">
          <a class="aa-date-tag indefinite">KHÔNG THỜI HẠN</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']" routerLinkActive="active" style="text-decoration: none">Xây dựng điểm trường tại bản làng dân tộc Hà Giang</a></h3>
          <p>Nhằm đưa giáo dục đến gần hơn với trẻ em vùng cao nói chung và học sinh tỉnh Hà Giang nói riêng</p>
          <a [routerLink]="['/du-an-xay-dung-truong-tai-ban-lang-dan-toc']" routerLinkActive="active" class="btn-tt" style="text-align: center">TÀI TRỢ</a>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%;">
        <figure class="aa-blog-img">
          <img src="assets/images/duan3/main.jpg" [routerLink]="['/du-an-xay-lop-hoc-tinh-thuong']" alt="img">
          <a class="aa-date-tag complete">ĐÃ HOÀN THÀNH</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-xay-lop-hoc-tinh-thuong']" style="text-decoration: none">Xây lớp học tình thương</a></h3>
          <p>Cuộc sống như một bức tranh đầy màu sắc, bên cạnh những mảng màu sáng luôn có sự xuất hiện của những gam màu u tối.......</p>
          <a [routerLink]="['/du-an-xay-lop-hoc-tinh-thuong']" class="btn-ct" style="text-align: center">CHI TIẾT</a>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%;">
        <figure class="aa-blog-img">
          <img src="assets/images/duan2/main.png" [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" alt="img">
          <a class="aa-date-tag motion">ĐANG VẬN ĐỘNG</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" style="text-decoration: none">Bữa sáng cho trẻ em tới tường</a></h3>
          <p>Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày.</p>
          <a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" class="btn-tt" style="text-align:center">TÀI TRỢ</a>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%;">
        <figure class="aa-blog-img">
          <img src="assets/images/duan2/main.png" [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" alt="img">
          <a class="aa-date-tag motion">ĐANG VẬN ĐỘNG</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" style="text-decoration: none">Bữa sáng cho trẻ em tới tường</a></h3>
          <p>Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày.</p>
          <a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" class="btn-tt" style="text-align:center">TÀI TRỢ</a>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%;">
        <figure class="aa-blog-img">
          <img src="assets/images/duan2/main.png" [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" alt="img">
          <a class="aa-date-tag motion">ĐANG VẬN ĐỘNG</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" style="text-decoration: none">Bữa sáng cho trẻ em tới tường</a></h3>
          <p>Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày.</p>
          <a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" class="btn-tt" style="text-align:center">TÀI TRỢ</a>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%;">
        <figure class="aa-blog-img">
          <img src="assets/images/duan2/main.png" [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" alt="img">
          <a class="aa-date-tag motion">ĐANG VẬN ĐỘNG</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" style="text-decoration: none">Bữa sáng cho trẻ em tới tường</a></h3>
          <p>Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày.</p>
          <a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" class="btn-tt" style="text-align:center">TÀI TRỢ</a>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="aa-blog-single eleven" style="border: 0.125rem solid #ccc; height: 100%;">
        <figure class="aa-blog-img">
          <img src="assets/images/duan2/main.png" [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" alt="img">
          <a class="aa-date-tag motion">ĐANG VẬN ĐỘNG</a>
        </figure>
        <div class="aa-blog-single-content">
          <h3><a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" style="text-decoration: none">Bữa sáng cho trẻ em tới tường</a></h3>
          <p>Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày.</p>
          <a [routerLink]="['/du-an-bua-sang-cho-em-toi-truong']" class="btn-tt" style="text-align:center">TÀI TRỢ</a>
        </div>
      </article>
    </div>
  </div>
</div>
