
<div class="tabs" style="background: #f3f7fd" *ngIf="'tabs'" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="container pt-5">
    <app-map></app-map>
  </div>

  <div class="ex-basic-2">
    <div class="container text-center" style="border-bottom: 1px solid #37B984;display: flex; justify-content: center;">
      <h2 class="text-project">CÁC DỰ ÁN</h2>
    </div>
    <div class="container mt-2">
        <div class="row" style="row-gap: 10px;">
          <app-project-card
            class="project-hv"
            *ngFor="let project of project$ | async"
            [project]="project"
            [animatedBorder]="false"
          ></app-project-card>
        </div>
    </div>
  </div>
</div>
<div (click)="scrollToTop()" class="scroll-to-top fas fa-chevron-up" *ngIf="pageYoffset > 0" ></div>
