<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <a class="navbar-brand fas fa-home" style="cursor: default;">ADMIN</a>
      </div>
  </nav>

  <div style="padding-top: 15px">
    <nav class="navbar-side" role="navigation">
      <div class="sidebar-collapse">

          <ul class="chinhul">
              <li class="chinhli "><a [routerLink]="['/admin']" class="fas fa-table"> Quản lý đăng bài</a>
              </li>
              <li class="chinhli"><a [routerLink]="['/admin','dbp']" class="fas fa-pen"> Quản lý bài viết</a>
              </li>
              <li class="chinhli"><a [routerLink]="['/admin','user']" class="fas fa-user"> Quản lý người dùng</a>
              </li>
              <li class="chinhli"><a [routerLink]="['/admin','donate']" class="fas fa-user-tie"> Quản lý Donate</a>
              </li>
              <li class="chinhli active-menu"><a [routerLink]="['/admin','dashboard']" class="fas fa-calendar-alt"> Dashboard</a>
              </li>
          </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>DASHBOARD</h2>
            </div>
        </div>
        <hr />
        <div class="row">
          <div class="form-group">
            <label class="labels">Năm</label>
            <select class="year">
                <option >2022</option>
                <option >2023</option>
                <option >2024</option>
            </select>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="chart-container">
              <canvas  id="MyChart" >{{ chart }}</canvas>
            </div>
            <div class="panel panel-default ">
              <h4 >
                Biểu đồ thể hiện số tiền quyên góp theo tháng qua từng năm
              </h4>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="chart-container ">
              <canvas  id="barChart" >{{ bar }}</canvas>
            </div>
            <div class="panel panel-default ">
              <h4 >
                Biểu đồ thể hiện tổng các dự án
              </h4>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="chart-container ">
              <canvas  id="pieChart" >{{ pie }}</canvas>
            </div>
            <div class="panel panel-default ">
              <h4 >
                Biểu đồ thể hiện số dự án theo vùng miền
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
