<div>
  <div id="page-inner">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">QUẢN LÝ NGƯỜI DÙNG</h2>
    </div>
    <hr />
    <ag-grid-angular
      style="height: 500px;"
      class="w-100 ag-theme-alpine"
      [columnDefs]="columnDefs"
      [rowData]="user$ | async"
      [tooltipShowDelay]="0"
      [headerHeight]="56"
      [rowHeight]="50"
      [suppressRowTransform]="true"
      [context]="this"

      (gridReady)="$event.api.sizeColumnsToFit()"
      (gridSizeChanged)="$event.api.sizeColumnsToFit()"
    ></ag-grid-angular>
  </div>
</div>

<!-- Thêm user -->
<ng-template #longContent let-modal>
  <div class="modal-body">
    <div class="container">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>THÊM BÀI VIẾT</h3>
      <form form id="newsletterForm" data-toggle="validator" data-focus="false">
        <div class="form-group">
          <label class="labels required">PO/USER</label>
          <select style="text-align: center; width: 100%; height: 36px;border: 1px solid #c4d8dc;border-radius: 0.25rem;">
              <option >PO</option>
              <option >USER</option>
          </select>
        </div>
        <div class="form-group">
            <label class="labels required">TÊN NGƯỜI DÙNG</label>
            <input type="text" class="form-control" placeholder="Tên người dùng" >
        </div>
        <div class="form-group">
            <label class="labels required">TÊN TÀI KHOẢN</label>
            <input type="text" class="form-control" placeholder="Tên tài khoản" >
        </div>
        <div class="form-group">
            <label class="labels required">MẬT KHẨU</label>
            <input type="password" class="form-control" placeholder="Mật khẩu" >
        </div>
        <div class="form-group">
            <label class="labels required">SỐ ĐIỆN THOẠI</label>
            <input type="text" class="form-control" placeholder="Số điện thoại" >
        </div>
        <div class="form-group">
            <label class="labels">EMAIL</label>
            <input type="email" class="form-control" placeholder="Email" >
        </div>

        <div class="form-group">
            <label class="labels">ĐỊA CHỈ</label>
            <input type="text" class="form-control" placeholder="Địa chỉ" >
        </div>
        <div class="form-group text-center">
            <button type="submit" class="form-control-submit-button btn-solid-reg">XÁC NHẬN</button>
        </div>
        <div class="form-message">
            <div id="nmsgSubmit" class="h3 text-center hidden"></div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- ---------------------- -->


<!-- Thông báo -->
<ng-template #alert let-modal class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons fas fa-edit"></i>
        </div>
        <h4 class="modal-title w-100">Thông báo !</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Lịch sử đăng bài trống</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" (click)="modal.dismiss('Cross click')">OK</button>
      </div>
    </div>
  </div>
</ng-template>
<!-- ---------------------- -->
