<div class="ex-basic-2" style=" padding-bottom: 1rem;">
  <div class="container" style="border-bottom: 1px solid #37B984;">
      <h2>Xây lớp học tình thương</h2>
  </div>
</div>

<!-- Tính năng dự án -->
<div id="features" class="tabs" style="padding-top: 0;">
  <div class="container">
      <div class="container rounded mb-5">
          <div class="row">
              <div class="col-md-12">
                  <h4 style="text-align: justify; padding-bottom: 30px;">
                      Cuộc sống như một bức tranh đầy màu sắc, bên cạnh những mảng màu sáng luôn có sự xuất hiện của những gam màu u tối.Và bên cạnh những đứa trẻ may mắn được sinh ra,
                      lớn lên trong vòng tay bố mẹ thì cũng có không ít trẻ em phải sống trong trại trẻ mồ côi. Chúng không chỉ thiếu thốn về vật chất, tinh thần mà ngay cả giáo dục cũng khó có thể tiếp cận.
                      Những đứa trẻ ấy luôn khao khát bản thân sẽ thoát khỏi gam màu tối để bước ra vùng đất tươi đẹp hơn, vì vậy chúng mong muốn được học tập để có cơ hội phát triển tương lai. Thấu hiểu những tâm tư,
                      nguyện vọng đó dự án “ lớp học tình thương tại các trại trẻ mồ côi” đã ra đời.
                  </h4>
                  <p style="text-align: justify">
                      1. Dự án chọn địa điểm mở lớp học đầu tiên tại làng trẻ thơ - nơi sinh sống của 150 đứa trẻ mồ côi từ 2 tháng tuổi đến 18 tuổi. Làng trẻ thơ nằm trên địa bàn của tỉnh Hà Giang và đã nhận được sự giúp đỡ của nhiều nhà hảo tâm trong việc đóng góp bữa ăn cho các trẻ em sống tại đây.
                      Lớp học tình thương ra đời sẽ dạy kiến thức từ lớp 1-lớp 12. Những người nhận giảng dạy các lớp sẽ là sinh viên tình nguyện có kiến thức và chuyên môn.
                  </p>
                  <p style="text-align: justify">
                      2. Lớp học sẽ cung cấp đầy đủ dụng cụ học tập cho học sinh, đặc biệt các học sinh từ những làng trẻ mồ côi khác nếu có nhu cầu vẫn được tham gia học tập. Dự kiến mỗi lớp sẽ có từ 15-20 học sinh tham gia và học 3b/tuần. Lớp học tập trung dạy những kiến thức cơ bản về tiếng việt, toán và tiếng anh cho các em. Dự trù kinh phí để mỗi lớp học có thể duy trì trong vòng 1 năm là 50.000.000 triệu đồng
                  </p>
                  <p style="text-align: justify">
                      -> Đây là một dự án giáo dục mang tính cộng đồng, vì vậy rất mong nhận được sự quan tâm, giúp đỡ của các nhà hảo tâm.
                  </p>
                  <p>
                      Chủ nhiệm dự án: Ông Nguyên Văn Tính
                  </p>
                  <p>
                      Liên hệ: 0123678312 - 0325364567
                  </p>
                  <p>
                      Số tài khoản: 121110022001 MBBank
                  </p>
                  <div style="display: flex; width: 500px; height: 250px;">
                      <img src="assets/images/duan3/anh1.webp" alt="">
                      <img src="assets/images/duan3/anh2.jpg" alt="">
                  </div>
              </div>
          </div>
          <div class="text-container">
            <h5><a class="btn-outline-reg" [routerLink]="['/donate-businesses']" ><i class="fas fa-city"></i> Doanh nghiệp tài trợ</a></h5>
            <h5><a class="btn-outline-reg" [routerLink]="['/donate-personal']" style="padding: 1rem 2.75rem 1rem 1.85rem; "><i class="fas fa-address-book"></i> Cá nhân tài trợ</a></h5>
        </div>
      </div>
  </div>
</div>
