<div *ngIf="project" class="bg-white">
    <div class="row ">
        <div class="col-lg-12">
            <div class="tab-content" id="argoTabsContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                    <div class="list-posts">
                        <ng-container *ngIf="animatedBorder">
                            <span class="hv"></span>
                            <span class="hv"></span>
                            <span class="hv"></span>
                            <span class="hv"></span>
                        </ng-container>
                        <div class="layout d-flex" [class.flex-row-reverse]="project.status != 2">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <h5 [class]="status[project.status].classColor" class="hoat-dong ms-2">{{ status[project.status].name }}</h5>
                                    <img class="img-fluid cursor-pointer w-100 h-100" (click)="navigate(project)" [src]="project.avatar | img | safe:'resourceUrl'" alt="{{ project.title }}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex flex-column justify-content-between w-100 h-100">
                                    <div class="text-container">
                                        <h3 class="cursor-pointer" [title]="project.title" (click)="navigate(project)">{{ project.title }}</h3>
                                        <p class="desc text-justify" [title]="project.description">{{ project.description }}</p>
                                        <div *ngIf="showMore" class="d-flex flex-column gap-2">
                                            <span class="text-success fw-bold">Đã góp được:&nbsp;&nbsp;<span class="text-danger">{{ (project.total || 0) | currency:'VND' }} </span> </span>
                                            <span class="text-primary fw-bold">Cần huy động: <span class="text-danger">{{ (project.money || 0) | currency:'VND' }}</span> </span>
                                        </div>    
                                    </div>
                                    <div class="p-4">
                                        <span *ngIf="project.status == 2" class="btn-tt cursor-pointer" (click)="navigate(project)">TÀI TRỢ</span>
                                        <span *ngIf="project.status != 2" class="btn-ct cursor-pointer" (click)="navigate(project)">CHI TIẾT</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
