<div class="ex-basic-2" style=" padding-bottom: 1rem;">
  <div class="container" style="border-bottom: 1px solid #37B984;">
      <h2>Bữa sáng cho trẻ em tới tường</h2>
  </div>
</div>

<!-- Tính năng dự án -->
<div id="features" class="tabs">
  <div class="container">
      <div class="container rounded mb-5">
          <div class="row">
              <div class="col-md-12">
                  <h4>
                      Bữa sáng được nhiều chuyên gia đánh giá là một trong những bữa ăn quan trọng nhất của ngày. Thế nhưng nhiều học sinh tại các điểm trường khó khăn của tỉnh Hà Giang vẫn phải mang một chiếc bụng đói để tới trường. Khi quần áo của các em chưa đủ mặc, sách vở chưa đủ viết thì làm sao dám nghĩ tới một bữa sáng đầy đủ chất dinh dưỡng. Chính vì lẽ đó, chúng tôi đã thành lập ra dự án “ Bữa sáng cho trẻ em vùng cao tới trường” được thí điểm tại Hà Giang với chương trình cụ thể như sau :
                  </h4>
                  <p>
                      1. Cung cấp bữa sáng đầy đủ chất dinh dưỡng cho các em học sinh thuộc các điểm trường khó khăn, nằm sâu trong các dãy núi của người dân tộc thiểu số. Bữa sáng sẽ có thực đơn đa dạng được thay đổi linh hoạt gồm một số món như sau : Trứng, sữa, bánh mì, bún, mì tôm,….
                      Dự án sẽ được thực hiện vào các ngày trong tuần (trừ ngày nghỉ).Dự kiến, dự án này sẽ cung cấp bữa sáng cho 3 điểm trường với số lượng: 1217 học sinh các cấp: mầm non, tiểu học và trung học cơ sở. Thời gian bắt đầu dự án vào ngày 25/10/2022 và kết thúc ngày 25/10/2023 (kết thúc tại các điểm trường ở Hà Giang để đánh giá chất lượng của dự án mang lại cho cộng đồng). Để hoàn thành được những mục tiêu của dự án đề ra chúng tôi dự tính ngân sách của quỹ sẽ rơi vào khoảng 500.000.000 triệu đồng.
                  </p>
                  <p>
                      2. Sau khi đã thí điểm thành công tại những điểm trường thuộc tỉnh Hà Giang, nhóm dự án sẽ tìm kiếm những điểm trường cần sự giúp đỡ của các tỉnh vùng cao khác để hỗ trợ các em có một bữa sáng khi tới trường.
                      Sự nhân văn của người Việt Nam luôn được đánh giá cao, đặc biệt là truyền thống “ thương người như thể thương thân” đã in sâu vào tâm trí của biết bao thế hệ người Việt. Để giúp cho những mầm mon tương lai của đất nước, những mảnh đời khó khăn có động lực đến trường tìm lấy con chữ và thoát lấy cái nghèo nên dự án “Bữa sáng cho trẻ em vùng cao tới trường”. ra đời. Đây là sợi dây kết nối những tấm lòng vàng của các nhà hảo tâm đến với những học sinh dân tộc khó khăn. Mọi sự đóng góp của quý vị sẽ giúp các em có một bữa sáng đầy đủ chất dinh dưỡng khi tới trường. Vì vậy, chúng tôi rất hi vọng sẽ nhận được nhiều sự quan tâm của cộng đồng dành cho dự án.

                  </p>
                  <p>
                      Chủ nhiệm dự án: Chị  Hà Văn Thị Nga
                  </p>
                  <p>
                      Liên hệ: 0523654745 - 0436464567
                  </p>
                  <p>
                      Số tài khoản: 76375649102651 BIDV
                  </p>
                  <div style="display: flex; width: 500px; height: 250px;">
                      <img src="assets/images/duan2/photo-10-16251087511981338486155.webp" alt="">
                      <img src="assets/images/duan2/photo-3-16251087514671266246813.webp" alt="">
                  </div>
              </div>
          </div>
          <div class="text-container">
            <h5><a class="btn-outline-reg" [routerLink]="['/donate-businesses']" ><i class="fas fa-city"></i> Doanh nghiệp tài trợ</a></h5>
            <h5><a class="btn-outline-reg" [routerLink]="['/donate-personal']" style="padding: 1rem 2.75rem 1rem 1.85rem; "><i class="fas fa-address-book"></i> Cá nhân tài trợ</a></h5>
        </div>
      </div>
  </div>
</div>
