.header_navbar-user-name{
  margin-left: 5px;
}

.user-home-main{
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-menu {
  box-shadow: 0 5px 3px 0 rgb(118, 118, 118);
}
