<div id="features" class="tabs">
  <div class="container">
      <div class="container rounded bg-white mb-5">
          <div class="row">
              <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3">
                    <img class="rounded-circle" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{ user.user.fullName }}</span>
                    <span class="text-black-50">{{ user.user.email }}</span>
                </div>

                <!-- Chức năng đăng bài của PO -->
                <div class="d-flex justify-content-center">
                  <a class="btn-solid-reg" (click)="openPostForm()">Đăng bài viết</a>
                </div>
              </div>
              <div class="col-md-5 border-right">
                  <form [formGroup]="formGroup" (submit)="ngOnSubmit()" class="row gap-2 p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">CÀI ĐẶT THÔNG TIN</h4>
                    </div>
                    <div class="col-md-12">
                      <label class="labels required">HỌ VÀ TÊN</label>
                      <input class="form-control" placeholder="Tên" formControlName="fullName">
                    </div>
                      <div class="col-md-12">
                        <label class="labels required">SỐ ĐIỆN THOẠI</label>
                        <input class="form-control" placeholder="Nhập số điện thoại" formControlName="phone">
                      </div>
                      <div class="col-md-12">
                        <label class="labels">EMAIL</label>
                        <input type="email" class="form-control" placeholder="Nhập Email" formControlName="email">
                      </div>
                      <div class="col-md-12">
                        <label class="labels required">TÊN TÀI KHOẢN</label>
                        <input type="text" class="form-control" placeholder="Tên tài khoản" formControlName="username">
                      </div>
                      <div class="col-md-12">
                        <label class="labels">ĐỊA CHỈ</label>
                        <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="address">
                      </div>

                      <div class="text-center">
                        <button class="btn-solid-reg profile-button">Chỉnh sửa</button>
                      </div>
                  </form>
              </div>

              <div class="col-md-4 border-right">
                  <div class="p-3 py-5">
                      <ul style="list-style: none; margin: 0px; padding: 0px;">
                        <li class="li-history">
                          <button class="history-hv btn-history px-0 ps-2 text-left" (click)="openMyDonate()">Lịch sử tài trợ</button>
                        </li>
                        <!-- PO -->
                        <li class="li-history">
                          <button class="history-hv btn-history px-0 ps-2 text-left" (click)="openMyProject()">Lịch sử đăng bài</button>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
