<div id="features" class="tabs">
  <div class="container">
      <div class="container rounded bg-white mb-5">
          <div class="row">
              <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3">
                    <!-- <img class="rounded-circle" width="150px" src="/assets/images/logo-ui.png"> -->
                    <div class="user-setting">
                      <i class="fas fa-user" style="color: #fff; font-size: 100px;"></i>
                    </div>
                    <span class="font-weight-bold">{{ user.user.fullName }}</span>
                    <span class="text-black-50">{{ user.user.email }}</span>
                </div>

                <!-- Chức năng đăng bài của PO -->
                <div class="d-flex justify-content-center" *ngIf="isPO">
                  <!-- <a class="btn-solid-reg" (click)="openPostForm()">Đăng bài viết</a> -->
                  <button class="custom-btn btn-profile" (click)="openPostForm()"><span>Đăng bài viết</span></button>
                </div>
              </div>
              <div class="col-md-5 border-right">
                  <form [formGroup]="formGroup" (submit)="ngOnSubmit()" class="row gap-2 p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">CÀI ĐẶT THÔNG TIN</h4>
                    </div>
                    <div class="col-md-12">
                      <label class="labels required">HỌ VÀ TÊN</label>
                      <input class="form-control" placeholder="Tên" formControlName="fullName">
                      <div class="text-danger" *ngIf="formControl.fullName.invalid && (formControl.fullName.touched || formControl.fullName.dirty)">
                        <div *ngIf="formControl.fullName.errors.required">
                          Họ và tên không được trống
                        </div>
                        <div *ngIf="formControl.fullName.errors.pattern">
                          Họ và tên không đúng định dạng
                        </div>

                      </div>
                    </div>
                      <div class="col-md-12">
                        <label class="labels required">SỐ ĐIỆN THOẠI</label>
                        <input class="form-control" placeholder="Nhập số điện thoại" formControlName="phone">
                        <div class="text-danger" *ngIf="formControl.phone.invalid && (formControl.phone.touched || formControl.phone.dirty)">
                          <div *ngIf="formControl.phone.errors.required">
                            Số điện thoại không được trống
                          </div>
                          <div *ngIf="formControl.phone.errors.pattern">
                            Số điện thoại không đúng định dạng
                          </div>

                        </div>
                      </div>
                      <div class="col-md-12">
                        <label class="labels required">EMAIL</label>
                        <input type="email" class="form-control" placeholder="Nhập Email" formControlName="email">
                        <div class="text-danger" *ngIf="formControl.email.invalid && (formControl.email.touched || formControl.email.dirty)">
                          <div *ngIf="formControl.email.errors.required">
                            Email không được trống
                          </div>
                          <div *ngIf="formControl.email.errors.email">
                            Email không đúng định dạng
                          </div>

                        </div>
                      </div>
                      <div class="col-md-12">
                        <label class="labels required">TÊN TÀI KHOẢN</label>
                        <input type="text" class="form-control" placeholder="Tên tài khoản" formControlName="username">
                      </div>
                      <div class="col-md-12">
                        <label class="labels">ĐỊA CHỈ</label>
                        <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="address">
                      </div>

                      <div class="text-center">
                        <button class="custom-btn btn-profile profile-button"><span>Cập nhật</span></button>
                        <!-- <button class="btn-solid-reg profile-button">Cập nhật</button> -->
                      </div>
                  </form>
              </div>

              <div class="col-md-4 border-right">
                  <div class="p-3 py-5">
                      <ul style="list-style: none; margin: 0px; padding: 0px;">
                        <li class="li-history">
                          <button class="history-hv btn-history px-0 ps-2 text-left" (click)="openMyDonate()">Lịch sử tài trợ</button>
                        </li>
                        <!-- PO -->
                        <li class="li-history" *ngIf="isPO">
                          <button class="history-hv btn-history px-0 ps-2 text-left" (click)="openMyProject()">Lịch sử đăng bài</button>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
