<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <a class="navbar-brand fas fa-home" style="cursor: default;">ADMIN</a>
      </div>
  </nav>

  <div style="padding-top: 15px">
    <nav class="navbar-side" role="navigation">
      <div class="sidebar-collapse">

          <ul class="chinhul">
              <li class="chinhli "><a [routerLink]="['/auth','admin']" class="fas fa-table"> Quản lý đăng bài</a>
              </li>
              <li class="chinhli"><a [routerLink]="['/auth','dbp']" class="fas fa-pen"> Quản lý bài viết</a>
              </li>
              <li class="chinhli"><a [routerLink]="['/auth','user']" class="fas fa-user"> Quản lý người dùng</a>
              </li>
              <li class="chinhli"><a [routerLink]="['/auth','donate']" class="fas fa-user-tie"> Quản lý Donate</a>
              </li>
              <li class="chinhli active-menu"><a [routerLink]="['/auth','dashboard']" class="fas fa-calendar-alt"> Dashboard</a>
              </li>
          </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>DASHBOARD</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                      <div class="panel-heading" style="font-size: 30px; font-weight: 1000;">
                          Dashboard tài trợ theo năm
                      </div>
                      <!-- dashboard -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="font-size: 24px">
                                Chú thích:
                            </div>
                            <div style="display: flex; padding-bottom: 10px;">
                                <a class="db" style="background-color: rgb(11, 98, 164);margin: 15px 5px; height: 35px;width: 35px;"></a>
                                <p>Dự kiến</p>
                            </div>
                            <div style="display: flex; padding-top: 10px;">
                                <a class="db" style="background-color: rgb(122, 146, 163);margin: 15px 5px;height: 35px; width: 35px;"></a>
                                <p>Thực tế</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-size: 30px; font-weight: 1000">
                            Dashboard loại dự án
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="font-size: 24px">
                                Chú thích:
                            </div>
                            <div style="display: flex; padding-bottom: 10px;">
                                <a class="db" style="background-color: red;margin: 15px 5px; height: 35px;width: 35px;"></a>
                                <p>Tiền xây dựng</p>
                            </div>
                            <div style="display: flex; padding-top: 10px;">
                                <a class="db" style="background-color: green;margin: 15px 5px; height: 35px;width: 35px;"></a>
                                <p>Sách vở, quần áo</p>
                            </div>
                            <div style="display: flex; padding-top: 10px;">
                                <a class="db" style="background-color: blue;margin: 15px 5px; height: 35px;width: 35px;"></a>
                                <p>Các thiết bị học</p>
                            </div>
                            <div style="display: flex; padding-top: 10px;">
                                <a class="db" style="background-color: gray;margin: 15px 5px; height: 35px;width: 35px;"></a>
                                <p>Các loại khác</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
