<div>
    <div class="modal-header">
        <h3>Cập Nhật User</h3>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" class="d-flex flex-column gap-2">

            <div>
                <label class="labels required">HỌ VÀ TÊN</label>
                <input class="form-control" formControlName="fullName">
                <div class="text-danger" *ngIf="formControl.fullName.invalid && (formControl.fullName.touched || formControl.fullName.dirty)">
                    <div *ngIf="formControl.fullName.errors.required">
                      Họ và tên không được trống
                    </div>
                    <div *ngIf="formControl.fullName.errors.pattern">
                      Họ và tên không đúng định dạng
                    </div>
                </div>
            </div>

            <div>
                <label class="labels required">SỐ ĐIỆN THOẠI</label>
                <input class="form-control" formControlName="phone">
                <div class="text-danger" *ngIf="formControl.phone.invalid && (formControl.phone.touched || formControl.phone.dirty)">
                    <div *ngIf="formControl.phone.errors.required">
                      Số điện thoại không được trống
                    </div>
                    <div *ngIf="formControl.phone.errors.pattern">
                      Số điện thoại không đúng định dạng
                    </div>
                </div>
            </div>

            <div>
                <label class="labels">EMAIL</label>
                <input type="email" class="form-control" formControlName="email">
                <div class="text-danger" *ngIf="formControl.email.invalid && (formControl.email.touched || formControl.email.dirty)">
                    <div *ngIf="formControl.email.errors.required">
                      Email không được trống
                    </div>
                    <div *ngIf="formControl.email.errors.pattern">
                      Email không đúng định dạng
                    </div>
                </div>
            </div>

            <div>
                <label class="labels required">TÊN TÀI KHOẢN</label>
                <input type="text" class="form-control" formControlName="username">
            </div>

            <div>
                <label class="labels">ĐỊA CHỈ</label>
                <input type="text" class="form-control" formControlName="address">
            </div>

            <div class="d-flex gap-4 form-control border-0">
                <div class="d-flex gap-2">
                    <input id="user" type="radio" value="USER" formControlName="role" />
                    <label for="user">Người dùng</label>
                </div>
                <div class="d-flex gap-2">
                    <input id="PO" type="radio" value="PO" formControlName="role" />
                    <label for="PO">PO</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-center">
        <button class="btn btn-primary" (click)="ngOnSubmit()">Lưu lại</button>
        <button class="btn btn-secondary" (click)="ngOnClose()">Hủy bỏ</button>
    </div>
</div>