<div (click)="scrollToTop()" class="scroll-to-top fas fa-chevron-up" *ngIf="pageYoffset > 0" ></div>
<div class="tabs" *ngIf="'tabs'" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                  <a [routerLink]="['/news']" style="text-decoration: revert;">Tin tức</a><i class="fa fa-angle-double-right"></i><span>Mạng xã hội và câu chuyện làm từ thiện “câu view”, trục lợi trong mùa dịch</span>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="features" class="tabs">
    <div class="news">
        <div class="news-date-1 col-lg-1">
          <div class="wa2">
            <a class="date">03</a>
            <a class="month">Th12</a>
            <a class="year">2022</a>

          </div>
        </div>
        <div>
          <div class="title-1 col-lg-10">
            <h3>Mạng xã hội và câu chuyện làm từ thiện “câu view”, trục lợi trong mùa dịch</h3>
            <p>
              Trong những ngày gần đây, nhiều người dùng mạng xã hội vẫn đang rất bức xúc, trước việc một kênh Youtube có rất nhiều video clip,
              quay lại các cảnh phát cơm từ thiện. Tuy nhiên trong các video này, nhiều người nghèo,
              người lao động gặp khó khăn do Covid - 19 đến nhận quà từ thiện đã bị biến thành những đối tượng xấu xí, thiếu ý thức, lừa đảo...
            </p>
            <p>
              Cụ thể, người thanh niên vừa phát cơm, vừa quay clip, vừa mặc sức chê bai, thóa mạ người nhận,
              thậm chí đuổi về chỉ vì cảm nhận chủ quan là “không nghèo”. Có trường hợp một người bảo vệ lớn tuổi đến nhận cơm,
              anh ta nói như quát vào mặt: “Không có cơm thì về lấy mì ăn. Không có mì sao người mập thế? Em nhìn anh phải bảy tám mươi cân đấy”. Hay trước một thanh niên ăn mặc có vẻ bụi bặm, nón kéo che mặt,
              anh ta tuyên bố: “Thanh niên kia đi ra ngoài đi, không phát cơm cho em. Bụi đời không phát”.
            </p>
            <p>
              Một ví dụ khác gây bức xúc không kém, là cảnh người đàn ông trung niên khắc khổ,
              thân hình gầy gò và ăn mặc giản dị cầm phiếu tới điểm nhận cơm từ thiện. Khi thấy ông đi một mình,
              nhưng lại lấy hai phần ăn cùng lúc, anh chàng này đã cất tiếng hỏi lý do,
              nhưng cách xưng hô trịch thượng đối với người đáng tuổi cha chú mình: "Sao lấy tận 2 phần hả thanh niên?".
            </p>
            <p>
              Lúc này, người đàn ông lớn tuổi mới tiến đến gần và giải thích: "Chú lấy hộ mang về cho chị chú một phần."
              Tuy nhiên, anh ta tiếp tục gặng hỏi: "Chị một phần? Chị bị sao mà phải nhận cơm thay thanh niên? Lần sau bảo bà tự đi nhận nhé".
              Thấy ông chú gật đầu dạ vâng, anh ta mới đồng ý cho qua: "Rồi, thanh niên về đi".
            </p>
            <p>
              Theo tìm hiểu, được biết “người phát cơm” trong đoạn clip tên là T.D - YouTuber của một kênh YouTube cũng khá đông người theo dõi.
              Gần đây, những video của T.D đăng tải chủ yếu về các hoạt động từ thiện.
              Tuy nhiên, thay vì chọn những nội dung mang thông điệp tích cực, kênh YouTube này lại tập trung vào những nội dung phản cảm, “giật title”,
              gây hoang mang dư luận, và cố tình làm clip kịch tính để “câu like” nhằm kiếm tiền qua tương tác mạng xã hội.
            </p>
            <p>
              Sau sự việc trên nhiều cư dân mạng, có cả những nhà hảo tâm đã lên tiếng bóc trần sự thật cái gọi là từ thiện của YouTuber này.
              Hầu hết, anh ta chỉ dựa vào các hoạt động thiện nguyện của các nhà hảo tâm khác,
              rồi góp sức và bên cạnh đó quay YouTube để thu hút người xem.
            </p>
            <p>
              Trường hợp tương tự như của YouTube trên trước nay không phải ít, nhưng nhỏ lẻ và chưa đến mức bị lên án gay gắt như lần này.
              Bởi trước đó câu chuyện nghệ sĩ,
              người nổi tiếng cũng thông qua mạng xã hội làm từ thiện, nhưng chưa minh bạch về tài chính vẫn còn là điều gây xôn xao dư luận.
            </p>
            <div class="slide-show">
              <ngb-carousel #carousel *ngIf="images" [interval]="1000">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img class="img-slider" src="/assets/images/tintuc/tintuc4/1.jpg" alt="">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img class="img-slider" src="/assets/images/tintuc/tintuc4/2.jpg" alt="">
                  </div>
                </ng-template>

              </ngb-carousel>
            </div>
            <p>
              Bạn Nguyễn Trọng Hiếu, sinh viên năm cuối đang sống tại quận 12 cho biết :” Nhớ hồi em mới lên Gài Gòn đi học,
              là sinh viên năm nhất, xa nhà, mà gia đình cũng không có điều kiện để hỗ trợ kinh tế hàng tháng, em phải vừa đi học vừa đi làm thêm,
              thời gian đầu khổ lắm. Cũng nhờ có quán cơm từ thiện gần chỗ ở, em mới vượt qua được mấy tháng đầu khó khăn. Nghĩ lại nếu lúc đó,
              họ cũng giống ông Youtuber này thì chắc em đã phải bỏ học về quê, vì em là sinh viên, nhìn em đâu giống người nghèo”.
            </p>
            <p>
              Anh Nguyễn Minh Chương, cũng là một YouTuber sống tại Gò Vấp chia sẻ :”Tôi cũng từng theo dõi nhiều clip trên mạng mượn việc từ thiện để khoe mẽ,
              thậm chí để dạy đời người khác, nhưng qua câu chuyện gần đây, tôi nghĩ mọi người phải lên tiếng mạnh mẽ và thậm chí các cơ quan chức năng nên có biện pháp xử lý cho thỏa đáng.
              Cũng là một người làm YouTube, tôi không dám tự hào mình làm được điều gì tốt đẹp, nhưng ít nhất xem những video clip như thế tôi thấy rất xấu hổ,
              và không hiểu vì sao họ có thể làm được điều đó, kiếm tiền như vậy là ác lắm”
            </p>
            <p>
              Quả thật, câu chuyện từ thiện vốn là việc khó, cơ sở xác định ai nghèo, ai xứng đáng để nhận quà cũng không dễ, Tuy nhiên,
              thiết nghĩ đã làm từ thiện xin đừng tính toán, chớ vội "trông mặt mà bắt hình dong",
              vì giàu hay nghèo không chỉ thể hiện ra vẻ ngoài. Từ ngàn xưa ông bà ta đã có câu dạy : “Nghèo cho sạch, rách cho thơm” đấy thôi.
            </p>
            <p>
              Mặc dù biết, việc làm từ thiện sẽ không tránh khỏi những trường hợp người không khó khăn đến "ăn hôi" của người nghèo,
              song đó chỉ là trường hợp hiếm. Chúng ta không nên đánh đồng để rồi làm tổn thương người khác. Người ta thường nói "của cho không bằng cách cho" là vì lẽ đó.
              Bởi lẽ, khi chúng ta giúp người nhưng cứ hay ngờ vực, liệu có đang từ thiện sai cách hay không?
              Như nhà văn Nguyễn Ngọc Tư từng nói: "Những nhà thiện nguyện thật sự, họ cho và chẳng nhớ đã cho gì".
            </p>
            <p>
              Với sự phát triển công nghệ như hiện nay, rõ ràng mạng xã hội đã thành một kênh thông tin, giải trí không thể thiếu với nhiều người.
              Tuy nhiên, hãy dùng mạng xã hội để lan tỏa những năng lượng tích cực, lan tỏa yêu thương, chia sẻ những điều đúng đắn.
              Đừng vì trục lợi mà biến bản thân mình trở nên xấu xa, biến xã hội xung quanh trở nên tiêu cực và
              khiến con người cũng như đất nước Việt Nam tươi đẹp trở nên xấu xí trong mắt bè bạn năm châu.
            </p>

            <p style="text-align: right;">
              <em style="font-weight: 600;"> Nguồn: baodantoc.vn</em>
            </p>
        <div style="margin-top: 50px; display: flex; justify-content: space-between;">
          <span class="next-1 fa fa-angle-double-left" [routerLink]="['/tintuc3']">Quay lại</span>
        </div>
      </div>
    </div>
  </div>

</div>
