.panel {
  box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0 !important;
}

.edit{
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.unlink{
  text-decoration: none;
  color: red;
  cursor: pointer;
}
