<header id="header" class="ex-2-header pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>ĐĂNG KÝ</h1>
        <div class="form-container">
          <form [formGroup]="formGroup" (submit)="ngSubmitForm()" class="form py-0" id="form-1">
            <!-- Phân quyền -->
            <div class="form-group text-left">
              <label class="required form-label">Mục đích truy cập</label>
              <select class="form-control" formControlName="role">
                <!-- User -->
                <option value="USER">Người tài trợ</option>
                <!-- PO -->
                <option value="PO">Người kêu gọi</option>
              </select>
            </div>

            <div class="form-group text-left">
              <label class="required form-label">Họ và tên</label>
              <input
                placeholder="Nhập họ và tên"
                class="form-control"
                formControlName="fullName"
              />
              <div class="text-danger" *ngIf="formControl.fullName.invalid && (formControl.fullName.touched || formControl.fullName.dirty)">
                <div *ngIf="formControl.fullName.errors.required">
                  Họ và tên không được trống
                </div>
              </div>
            </div>

            <div class="form-group text-left">
              <label class="required form-label">Số điện thoại</label>
              <input
                placeholder="Nhập số điện thoại"
                class="form-control"
                formControlName="phone"
              />
              <div class="text-danger" *ngIf="formControl.phone.invalid && (formControl.phone.touched || formControl.phone.dirty)">
                <div *ngIf="formControl.phone.errors.required">
                  Số điện thoại không được trống
                </div>
                <div *ngIf="formControl.phone.errors.pattern">
                  Số điện thoại không đúng định dạng
                </div>

              </div>
            </div>

            <div class="form-group text-left">
              <label class="required form-label">Email</label>
              <input
                placeholder="Nhập email"
                class="form-control"
                formControlName="email"
              />
              <div class="text-danger" *ngIf="formControl.email.invalid && (formControl.email.touched || formControl.email.dirty)">
                <div *ngIf="formControl.email.errors.required">
                  Email không được trống
                </div>
                <div *ngIf="formControl.email.errors.email">
                  Email không đúng định dạng
                </div>

              </div>
            </div>
            <div class="form-group text-left">
              <label class="required form-label">Tên đăng nhập</label>
              <input
                placeholder="Nhập tên đăng nhập"
                class="form-control"
                formControlName="username"
              />
              <div class="text-danger" *ngIf="formControl.username.invalid && (formControl.username.touched || formControl.username.dirty)">
                <div *ngIf="formControl.username.errors.required">
                  Tên đăng nhập không được trống
                </div>
                <div *ngIf="formControl.username.errors.minlength">
                  Tên đăng nhập phải lớn hơn 5 ký tự
                </div>
              </div>
            </div>

            <div class="form-group text-left">
              <label class="required form-label">Mật khẩu</label>
              <input
                type="password"
                placeholder="Nhập mật khẩu"
                class="form-control"
                formControlName="password"
              />
              <span class="form-message"></span>
            </div>

            <div class="form-group text-left">
              <label class="required form-label">Nhập lại mật khẩu</label>
              <input
                placeholder="Nhập lại mật khẩu"
                type="password"
                class="form-control"
                formControlName="passwordConfirmation"
              />
            </div>
            <div class="form-group text-left">
              <button class="form-control-submit-button">Đăng ký</button>
            </div>
          </form>
          <p class="mb-2" style="color: #b0b0b0">
            Điền vào biểu mẫu bên dưới để đăng ký.<br>
            Đã đăng ký? Hãy <a class="btn-login" [routerLink]="['/auth', 'log-in']"> Đăng nhập</a>
          </p>
          <a class="btn-login" [routerLink]="['/home']">Về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</header>
