:host ::ng-deep .angular-editor-textarea:focus-visible {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}

:host ::ng-deep .ck-editor__editable_inline > p {
    margin-bottom: 0;
}

::ng-deep .ck-balloon-panel {
    z-index: 1000000 !important;
}