.ex-basic-2{
  background-color: #f3f7fd;
}

.introduces{
  width: 600px;
  height: 340px;
}

.we-introduce{
  display: flex;
}

.text-center{
  font-weight: 600;
}

.scroll-to-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: fixed;
  color: #fff;
  background:#247a58;
  width: 45px;
  height: 45px;
  bottom: 30px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
 }

 .scroll-to-top:hover {
  background:#0c2b1f;
 }
