<div class="ex-basic-2">
  <div class="container" style="padding-bottom: 0.3rem;">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-container"  >
                  <h2>Tầm nhìn: </h2>
                  <p style="font-size: 18px;">Educational Charity Website ra đời với mong muốn trở thành một trang Web từ thiện hàng đầu về lĩnh vực giáo dục tại Việt Nam nói riêng và toàn cầu nói chung. Chúng tôi luôn hướng đến những giá trị nhân văn để từ đó phát triển Educational Charity Website ngày càng lớn mạnh. Với mục tiêu " ở đâu cần giáo dục ở đó có CWE" đúng với tinh thần " giáo dục là cho đi ". Để có thể vươn ra toàn cầu, CWE luôn nỗ lực trong việc xây dựng thương hiệu và đầu tư về chất lượng.</p>
                  <h2>Sứ mệnh:</h2>
                  <p style="font-size: 18px;">Mang đến cho khách hàng những trải nghiệm thú vị và tuyệt về lĩnh vực giáo dục. Cung cấp những nguồn thông tin bổ ích từ các cài đặt thông minh của trang Web. Khai thác tối đa thế mạnh của khách hàng trong từng hoàn cảnh cụ thể.</p>
              </div>
          </div>
      </div>
  </div>
</div>
