<div class="ex-basic-2">
  <div class="container" style="padding-bottom: 0.3rem;">
      <div class="row">
          <div class="we-introduce" style="padding-bottom: 50px;">
              <div class="introduces" style="margin-right: 40px">
                  <h2 class="text-center"><em>CHÚNG TÔI LÀ AI</em></h2>
                  <p style="font-size: 18px;">
                    Chúng tôi cùng với bạn, trên hành trình kiếm tìm hạnh phúc, bằng cách lan tỏa lòng nhân ái, chuyển hóa khổ đau
                  </p>
              </div>
              <div class="introduces">
                <img src="/assets/images/introduce/hinh1.jpg" style="width:600px; height: 340px;">
              </div>
          </div>

          <div class="we-introduce">
            <div class="introduces" style="width:600px; height: 400px; margin-right: 40px">
              <img src="/assets/images/introduce/hinh2.jpg" style="width:600px; height: 340px;">
            </div>

            <div class="introduces" style="background-color: #e4e4e4">
              <div style="padding:20px">
                <h3 class="text-center" style="color: #000">Tầm nhìn</h3>
                <p style="padding: 0">
                  Educational Charity Website mong muốn trở thành một trang Web từ thiện hàng đầu về lĩnh vực giáo dục tại Việt Nam. Chúng tôi luôn hướng đến những giá trị nhân văn để từ đó phát triển Educational Charity Website ngày càng lớn mạnh. Với slogan "Ở đâu cần giáo dục ở đó có chúng tôi", đúng với tinh thần " giáo dục là cho đi"
                </p>
                <h3 class="text-center" style="color: #000">Sứ mệnh</h3>
                <p style="padding: 0">
                  Giúp mọi người kết nối với nhau bằng tinh thần và cả trái tim của dân tộc Việt Nam.
                </p>
              </div>
            </div>
        </div>

        <div>
          <h2 class="text-center">Các giá trị cốt lõi</h2>
          <div style="display: flex; justify-content: space-between;padding-top: 20px;">
            <div class="text-center">
              <h3>Sự can đảm</h3>
              <p style="padding: 0">Chúng tôi hành động</p>
            </div>
            <div class="text-center">
              <h3>Sự cam kết</h3>
              <p style="padding: 0">Chúng tôi giữ lời hứa</p>
            </div>
            <div class="text-center">
              <h3>Sự tin tưởng</h3>
              <p style="padding: 0">Chúng tôi tin tưởng lẩn nhau</p>
            </div>
            <div class="text-center">
              <h3>Sự minh bạch</h3>
              <p style="padding: 0">Chúng tôi là đối tác tin cậy</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
