@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.toast-container {
    position: fixed !important;
}

.required:after {
    content: ' *';
    color: red;
}

.cursor-pointer {
    cursor: pointer !important;
}

/* ag-grid style */
.ag-cell-value {
    font-weight: 500;
}

.ag-cell-value:focus-within {
    border: none !important;
    outline: none !important;
}

/* nice scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #edf1f7;
}

::-webkit-scrollbar-thumb {
  background: #8f9bb3;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e778a;
}

/*  */
.money-text::first-letter {
	text-transform: uppercase;
}