<div class="ex-basic-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumbs">
                <a [routerLink]="['/news']" style="text-decoration: revert;">Tin tức</a><i class="fa fa-angle-double-right"></i><span>Đà Nẵng ngập lụt lịch sử, vì sao?</span>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="features" class="tabs">
  <div class="news">
      <div class="news-date-1 col-lg-1">
        <div class="wa2">
          <a class="date">16</a>
          <a class="month">Th10</a>
          <a class="year">2022</a>

        </div>
      </div>
      <div>
        <div class="title-1 col-lg-10">
          <h3>Đà Nẵng ngập lụt lịch sử, vì sao?</h3>
          <p>
            Người dân TP. Đà Nẵng vừa trải qua một trận ngập lụt “lịch sử”. “Mẹ thiên nhiên” đã “trổi dậy”.
            Nhiều khu vực nằm giữa trung tâm thành phố chìm trong biển nước. Đường sá thành sông, nước chảy cuộn siết,
            cuốn trôi nhiều vật dụng, hàng hóa của người dân. “Chưa từng thấy” và “khủng khiếp” là cụm từ được nhắc đến nhiều nhất
            trong đêm 14/10/2022, sáng hôm sau và sau này nữa.
          </p>
          <p>
            Thất thần chạy lũ Người dân TP. Đà Nẵng vừa trải qua một trận ngập lụt “lịch sử”. “Mẹ thiên nhiên” đã “trổi dậy”. Nhiều khu vực nằm giữa trung tâm thành phố chìm trong biển nước. Đường sá thành sông, nước chảy cuộn siết, cuốn trôi nhiều vật dụng, hàng hóa của người dân.
            “Chưa từng thấy” và “khủng khiếp” là cụm từ được nhắc đến nhiều nhất trong đêm 14/10/2022, sáng hôm sau và sau này nữa.
          </p>
          <p>
            Từ đêm 14/10/2022 đến rạng sáng 15/10/2022, nơi nào nước lên là nơi đó không ai dám chợp mắt.
            Họ phải thức trắng đêm để “canh” nước và ứng phó khi có tình huống xấu xảy ra.
          </p>
          <p>
            Trong đêm tối như mực (vì cúp điện), nhiều người thất thần chạy lụt. Hàng loạt ô tô, xe máy chết máy, vứt bỏ đầy đường,
            đến sáng hôm sau mới đưa đi. Tiếng kêu cứu diễn ra khắp nơi. Kêu cứu xung quanh không được, nhiều người lên mạng xã hội cầu cứu. Người bu leo lên cây, kẻ bám nóc nhà… Hầm chui Điện Biên Phủ chìm trong biển nước và sáng hôm sau, đơn vị có trách nhiệm phải dùng đến máy bơm để hút nước.
            Đủ kiểu chống chọi với trận “bom nước” kinh hoàng.
          </p>
          <div class="slide-show">
            <ngb-carousel #carousel *ngIf="images" [interval]="1000">
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc3/1.jpg" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc3/2.jpg" alt="">
                </div>
              </ng-template>

            </ngb-carousel>
          </div>
          <p>
            Sống giữa lòng TP. Đà Nẵng hàng chục năm qua, lần đầu tiên, anh Trần Thành Nhân chứng kiến, ngôi nhà của mình ngập sâu đến thế. “Sáng ra, nước vẫn chưa rút, thật khủng khiếp”, anh Nhân vẫn chưa hết thất thần, nhớ lại.
          </p>
          <p>
            Còn chị Ngô Thị Nhung (quận Liên Chiểu, Đà Nẵng) cho biết, từ lúc cha sinh mẹ đẻ đến giờ, chị mới thấy mực nước ngập khủng khiếp đến thế. “Toàn bộ bàn ghế mà tôi buôn bán hàng ngày ở phường Hòa Minh,
            quận Liên Chiểu đã bị cuốn phăng theo dòng nước và hiện không biết đã trôi đi đâu”, chị Nhung cho hay.
          </p>
          <p>
            Đau lòng hơn, trận lụt kéo dài từ chiều và đêm 14/10/2022 đến rạng sáng 15/10/2022 đã cướp đi ít nhất 4 mạng người. Chưa kể, nhiều người thoát chết là nhờ các lực lượng cứu hộ phải dầm mình trong biển nước để trợ giúp.
          </p>
          <p>
            <strong>Nguyên nhân do đâu?</strong>
          </p>
          <p>
            Ngoài có chung đánh giá là lượng mưa quá lớn và kéo dài nhiều giờ đồng hồ, trên các diễn đàn mạng xã hội, nhiều người dân trách móc “hệ thống thoát nước” của Đà Nẵng đang “có vấn đề”.
          </p>
          <p>
            Trao đổi với phóng viên Báo điện tử Đầu tư - <a href="https://baodautu.vn/" style="color: blue;">Baodautu.vn</a> , TS. Nguyễn Ngọc Huy, chuyên gia về biến đổi khí hậu và giảm thiểu rủi ro thiên tai, cho rằng, tại Đà Nẵng,
            nước rút sau mưa lớn khoảng 3 giờ đồng hồ thì hạ tầng thoát nước không kém. Quan điểm của TS. Nguyễn Ngọc Huy là mưa lũ “vượt năng lực chịu đựng của cơ sở hạ tầng”.
          </p>
          <p>
            “Chúng ta khoan vội quy trách nhiệm cho ai vì với trận lụt lịch sử này rất cần thảo luận với nhau bằng các con số khoa học ở các hội nghị chuyên đề và sau đó nên được truyền thông rộng rãi”, TS. Nguyễn Ngọc Huy nêu ý kiến.
          </p>
          <p>
            Theo TS. Nguyễn Ngọc Huy, số liệu mưa thực tế mà ông có được từ các trạm đo mưa tại Đà Nẵng cho thấy,
            khoảng thời gian mưa có ý nghĩa gây ra trận ngập lụt kinh hoàng này là từ 3 giờ chiều đến 9 giờ tối (6 tiếng) ngày 14/10 với lượng mưa cao nhất ghi nhận ở trạm Suối Đá, Sơn Trà là 637mm/ 6 giờ.
            Năng lực thoát nước ở các đô thị loại I ở Việt Nam nói chung đang ở mức đáp ứng được lượng mưa 70mm/ 2 giờ. Nghĩa là với 6 giờ có thể đáp ứng được lượng mưa tổng là 210mm. Đó là về mặt lý thuyết. Về mặt thực tế, hạ tầng thoát nước đô thị kém hơn mức đó nhiều do các yếu tố về tắc nghẽn cống rãnh,
            sự vênh nhau về đầu tư các công trình hạ tầng thoát nước cũ và mới, yếu tố về triều cường…
          </p>
          <p>
            Như vậy, trường hợp của Đà Nẵng, để đáp ứng thoát nước được lượng nước mưa liên tục trong 6 giờ cần hạ tầng thoát nước gấp 3 lần hạ tầng hiện tại. Để có được hệ thống hạ tầng gấp 3 lần hiện tại nghĩa là năng lực thoát nước của hệ thống phải giải quyết được lượng mưa 100mm/ giờ.
            Đó là con số phi thực tế mà không một đô thị nào trên thế giới hướng đến bởi vì rất tốn tiền. Với các đô thị của Việt Nam lại càng khó làm vì đòi hỏi nhiều chi phí giải phóng mặt bằng, thay toàn bộ hệ thống thoát nước cũ, đào hết đường lên để xây lắp cống mới…
          </p>
          <p>
            Khi thiết kế hệ thống thoát nước cho đô thị, các chuyên gia thường dựa vào lịch sử mưa lũ tại địa phương và tần suất mưa với các kịch bản mưa lũ lặp lại một lần trong 20 năm, 50 năm và 100 năm, có nơi dựa vào kịch bản 500 năm xuất hiện một lần. Cái thứ mưa 600mm/ 6 giờ liên tục thì nó thuộc tần suất 500 năm mới xuất hiện 1 lần. Như vậy,
            tần suất mưa cực đoan này chưa hề có trong kịch bản thoát lũ của Đà Nẵng nói riêng và hầu hết các đô thị của Việt Nam nói chung.
          </p>

          <p style="text-align: right;">
            <em style="font-weight: 600;"> Nguồn: baodautu.vn</em>
          </p>
      <div style="margin-top: 50px; display: flex; justify-content: space-between;">
        <span class="next-1 fa fa-angle-double-left" [routerLink]="['/tintuc2']">Quay lại</span>
        <span class="next-1 fa fa-angle-double-right" [routerLink]="['/tintuc4']">Tiếp theo</span>
      </div>
    </div>
  </div>
</div>


