<div class="ex-basic-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumbs">
                <a [routerLink]="['/news']" style="text-decoration: revert;">Tin tức</a><i class="fa fa-angle-double-right"></i><span>HÀNH TRÌNH TRAO YÊU THƯƠNG NƠI MIỀN BIÊN GIỚI… CÔ TRÒ LỚP 4A0 LÊN ĐƯỜNG!</span>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="features" class="tabs">
  <div class="news">
      <div class="news-date-1 col-lg-1">
        <div class="wa2">
          <a class="date">03</a>
          <a class="month">Th12</a>
          <a class="year">2022</a>
        </div>
      </div>
      <div>
        <div class="title-1 col-lg-10">
          <h3>HÀNH TRÌNH TRAO YÊU THƯƠNG NƠI MIỀN BIÊN GIỚI… CÔ TRÒ LỚP 4A0 LÊN ĐƯỜNG! 3</h3>
          <p>
            Công trình “Bếp ăn yêu thương - Nâng bước em tới trường” của Tập thể lớp 4A0 được kết hợp và sự trợ lực của cán bộ đồn Biên phòng Cửa khẩu Lóng Sập, Bộ đội Biên phòng tỉnh Sơn La. Công trình cũng nằm trong chuỗi hoạt động ý nghĩa, thiết thực chào mừng kỷ niệm 60 năm ngày truyền thống Bộ đội Biên phòng Sơn La (3/1/1963 – 3/1/2023).
          </p>
          <p>
            Bếp ăn được bàn giao với diện tích hơn 30m2. Bên cạnh đó, chương trình còn tổ chức khám bệnh, cấp thuốc miễn phí cho các em học sinh mầm non của bản Suối Đon, xã Chiềng Khừa, huyện Mộc Châu. Tập thể lớp 4A0 - Trường Liên cấp TH&THCS Ngôi sao Hà Nội cùng các nhà hảo tâm còn tặng thêm mái che sân trường cùng nhiều quà tặng thiết thực, ý nghĩa khác cho cô, trò trường mầm non Chiềng Khừa; trao quà cho 9 em nhỏ do Đồn Biên phòng Cửa khẩu Lóng Sập đỡ đầu, nuôi dưỡng tại đơn vị; hỗ trợ kinh phí cho Chi đoàn Đồn Biên phòng Cửa khẩu Lóng Sập xây dựng công trình thanh niên,… với tổng trị giá gần 200 triệu đồng.
          </p>
          <p>
            Không chỉ thế, tập thể 4A0 còn có 50 phần quà tặng các thầy cô giáo có con dưới 3 tuổi một phần quà bao gồm bộ rửa mũi Cát Linh và nước xúc họng. Món quà là tình yêu, là sự động viên của phụ huynh gửi tới thầy cô, làm ấm lòng các thầy cô trong những ngày đông giá lạnh.
          </p>
          <p>
            Những em bé còn non nớt đang chập chững với dự án thiện nguyện đầu tiên của cuộc đời mình. Những buổi họp nhóm online đêm muộn sau khi đã hoàn thành xong bài vở, khi cả nhà đã chìm vào giấc ngủ, những đứa trẻ vẫn ngồi bàn bạc, cố gắng thật nhanh, thật hiệu quả để đảm bảo tiến độ dự án. Những mẫu thiệp 20/10, 20/11 nhỏ xinh rồi cũng ra đời, trao tay đến các nhà hảo tâm để mỗi người một viên gạch cùng nhau góp sức xây dựng nên căn bếp yêu thương trong niềm hân hoan, háo hức của trẻ.
          </p>
          <p>
            Những ngày đầu tháng 12, cô trò 4A0 tấp nập vô cùng. Nào học cho kịp chương trình, nào tập văn nghệ, nào là học tập nền nếp nội quy, nào là tập huấn cách trao quà, cách nhận quà… tất cả đều nghiêm túc cho một chuyến đi về vùng biên cương – Nơi yêu thương đang vẫy gọi.
          </p>
          <p>
            Trong lần đầu tiên thực hiện chuyến thiện nguyện của đời mình, các con học sinh lớp 4A0 đã trưởng thành, đã lớn khôn và hiểu chuyện hơn rất nhiều. “Tuổi nhỏ làm việc nhỏ” nhưng lại vun đắp những ý nghĩa phi thường, hành động đẹp đẽ của các con 4A0 đã thắp lên ngọn lửa yêu thương, lan toả tinh thần đùm bọc “lá lành đùm lá rách” của con người Việt Nam.
          </p>
          <p>
            Còn với cô Đinh Thị Hải - Giáo viên chủ nhiệm lớp 4A0 - cũng là người dẫn đoàn: “Bọn trẻ của tôi đã nhanh chóng mơ về những chuyến đi tới những miền đất hứa. Còn tôi. luôn mong  căn bếp luôn ấm lửa hồng để bớt đi phần nào những khó khăn nhọc nhằn của thầy trò nơi ấy. Và tôi, tôi lại mơ ước có nhiều hơn nữa những cơ hội mang yêu thương đến tới mọi người.”
          </p>
          <p>
            Hành trình đến với miền biên giới và bàn giao công trình của cô và trò 4A0 Ngôi Sao Hà Nội cũng đã nhận được sự quan tâm và đưa tin từ các cơ quan báo chí.
          </p>
          <div class="slide-show">
            <ngb-carousel #carousel *ngIf="images" [interval]="1000">
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/main.png" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh1.png" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh2.png" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh3.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh4.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh5.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh6.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh7.png">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <p style="text-align: right;">
            <em> Nguồn: HỆ THỐNG GIÁO DỤC NGÔI SAO HÀ NỘI</em>
          </p>
      <div style="margin-top: 50px; display: flex; justify-content: space-between;">
        <span class="next-1 fa fa-angle-double-left" [routerLink]="['/tintuc2']">Quay lại</span>
        <span class="next-1 fa fa-angle-double-right" [routerLink]="['/tintuc4']">Tiếp theo</span>
      </div>
    </div>
  </div>
</div>


