<div class="ex-basic-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumbs">
                <a [routerLink]="['/news']" style="text-decoration: revert;">Tin tức</a><i class="fa fa-angle-double-right"></i><span>HÀNH TRÌNH TRAO YÊU THƯƠNG NƠI MIỀN BIÊN GIỚI… CÔ TRÒ LỚP 4A0 LÊN ĐƯỜNG!</span>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="features" class="tabs">
  <div class="news">
      <div class="news-date-1 col-lg-1">
        <div class="wa2">
          <a class="date">03</a>
          <a class="month">Th12</a>
          <a class="year">2022</a>

        </div>
      </div>
      <div>
        <div class="title-1 col-lg-10">
          <h3>HÀNH TRÌNH TRAO YÊU THƯƠNG NƠI MIỀN BIÊN GIỚI… CÔ TRÒ LỚP 4A0 LÊN ĐƯỜNG! 3</h3>
          <p>
            Công trình “Bếp ăn yêu thương - Nâng bước em tới trường” của Tập thể lớp 4A0 được kết hợp và sự trợ lực của cán bộ đồn Biên phòng Cửa khẩu Lóng Sập, Bộ đội Biên phòng tỉnh Sơn La. Công trình cũng nằm trong chuỗi hoạt động ý nghĩa, thiết thực chào mừng kỷ niệm 60 năm ngày truyền thống Bộ đội Biên phòng Sơn La (3/1/1963 – 3/1/2023).
          </p>
          
          <div class="slide-show">
            <ngb-carousel #carousel *ngIf="images" [interval]="1000">
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/main.png" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh1.png" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh2.png" alt="">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh3.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh4.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh5.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh6.png">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-slider" src="/assets/images/tintuc/tintuc2/hinh7.png">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <p style="text-align: right;">
            <em style="font-weight: 600;"> Nguồn: HỆ THỐNG GIÁO DỤC NGÔI SAO HÀ NỘI</em>
          </p>
      <div style="margin-top: 50px; display: flex; justify-content: space-between;">
        <span class="next-1 fa fa-angle-double-left" [routerLink]="['/tintuc2']">Quay lại</span>
        <span class="next-1 fa fa-angle-double-right" [routerLink]="['/tintuc4']">Tiếp theo</span>
      </div>
    </div>
  </div>
</div>


